
body{
    font-family: sans-serif;
    color: #000;
}
h1, h2, h3,h4{
    margin: 0;
}
        /*header section*/

header{
    background-color: rgba(255, 193, 35, 0.945);
    height: 200px;
    box-shadow: 0 2px 2px rgba(153, 153, 153, 0.301);
}
.header_contain{
   text-align: center;
   line-height: 6em;
}
nav{
    height: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.521);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 63px;
    width: 100px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    padding: 5px 10px;
}
nav ul li a:hover{
 
    
}

                /*main*/
.monthly_report_header, .todays_report_header{
    margin: 50px 0 10px;
    display: flex;
    justify-content: center;
}
.monthly_report_header > div, .todays_report_header > div{
    background-color: rgba(255, 193, 35, 0.945);
    padding: 20px 40px;
}
.todays_wrap , .monthly_wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.todays_wrap > div , .monthly_wrap > div{
    width: 135px;
    background-color: rgba(255, 193, 35, 0.945);
    margin: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 1px 2px gray;
}
